{% extends 'base.html' %}

{% block section %}
<!-- /Header -->
<header>
    <!-- Page Header -->
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-10">
                    <ul class="page-header-breadcrumb">
                        <li><a href="{% url 'home' %}"> <h4><u>Home</u></h4></a></li>
                    </ul>
                    <h1><p style="text-align:left;">Error 404 Not Found</p></h1>
                    <br>
                    <p>The page you requested is not found. Please, come back with new search.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- /Page Header -->
</header>
<!-- /Header -->
{% endblock %}